*{
    margin: 0px;
}
body{
    background-color: #ffffffe3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Barra_menu{
    display: flex ;
    background-color: #000000;
    border: 1px solid #000000;
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
}

.botones_menu{
    padding: 5px;
    text-decoration:none;
    color: aliceblue;
    font-family:monospace;
    padding-left: 15px;
} 
.logo{
    margin-top: 10px;
}

.contenedor{
}

.titulo{
    padding-top: 200px;
    padding-left: 220px;
    padding-bottom: 50px;
}

.menu{
    margin-top: 30px;
    margin-left: 60px;
    display: flex;
}

.menu2{
    text-decoration: none;
    color: black;
}

.imagen_principal{
    padding-top: 50px;
}

.contenedor{
}

.noticias{
    display: flex;
    justify-content: center;
    padding: 10PX;
    padding-bottom: 100px;
    
}
.noticia1{
padding-right: 50PX;
}

.texto_noticia1{
padding-top: 50px;
}

.noticia2{
    padding-right: 100PX;
}

.texto_noticia2{
padding-top: 50px;

}
.noticia3{
    padding-right: 100PX;
}

.texto_noticia3{
    padding-top: 50px;    
    padding-right: 100px;
    
}

.parte1{
padding-top: 20px;
}

.parte2{
    padding-top: 100px;
    display: flex;
}
 
.parte3{
    padding-bottom: 100PX;
}
    
.imagen1{
display: flex;
padding-left: 150px;
padding-top: 100px;
}

.texto_imagen1{
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 100px;
}

.imagen2{
    padding-left: 10px;
    padding-right: 50px;
}

.texto_imagen2{
     padding-left: 200px;
    padding-top: 80px;
    padding-right: 100px;
}

.parte3{
padding-bottom: 100PX;
}

.imagen3{
       display: flex;
    padding-left: 210px;
    padding-top: 100px;
}

.texto_imagen3{
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 80px;
}