*{
    margin: 0px;
}

body{
    background-color: #ffffffe3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Barra_menu{
    display: flex ;
    background-color: #000000;
    border: 1px solid #000000;
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
}

.botones_menu{
    padding: 5px;
    text-decoration:none;
    color: aliceblue;
    font-family:monospace;
    padding-left: 15px;
}

.logo{
    margin-top: 10px;
}

.contenedor{
    flex-direction: column ;
    }
    
.menu{
    margin-top: 30px;
    margin-left: 60px;
    display: flex ;
}
.menu2{
    text-decoration: none;
    color: black;
}

.parte1{
    padding: 100px;
    display: flex;
}

.parte2{
    padding-left: 350px;
    display: flex;
}
.parte3{
    padding-top: 50px;
    padding-left: 350px;
    display: flex;
}
.parte4{
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 350px;
    display: flex;
}

.texto_imagen1{
padding-left: 100px;
padding-top: 150px;
}

.texto_imagen2{
    padding-left: 100px;
    line-height: 200px;
}

.texto_imagen3{
    padding-left: 100px;
    line-height: 200px;
}

.texto_imagen4{
    padding-left: 100px;
    line-height: 200px;
}
